@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/variables/media-queries';
@import 'assets/styles/abstracts/variables/wrappers';
@import 'assets/styles/abstracts/variables/animations';
@import 'assets/styles/abstracts/placeholders';
@import 'assets/styles/abstracts/functions';

$border: 1px solid
  rgba(
    $color: $color-neutral-300,
    $alpha: 0.36,
  );

.article {
  max-width: $wrapper-card-article-preview-desktop;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  border: $border;
  border-radius: 16px;
  cursor: pointer;

  @media screen and (max-width: $media-tablet-large) {
    padding: 16px;
  }

  a {
    color: initial;
  }

  &:hover a > .wrapper > .content > .description > .title > .heading {
    color: $color-brand-secondary-900;
  }

  &--media {
    max-width: 952px;
    min-height: 564px;
    padding: 0;
    border: none;

    @media screen and (max-width: $media-tablet-large) {
      border: $border;
    }

    @media screen and (max-width: $media-tablet-large) {
      min-height: 400px;
      padding: 16px;
    }
  }

  &--news {
    max-width: 1208px;
  }

  * {
    transition: $transition-button;
  }
}

.wrapper,
.description {
  display: flex;
  flex-direction: column;
}

.wrapper {
  row-gap: 10px;

  &--news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 38px;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 320px;

  @media screen and (max-width: calc($media-desktop-large - 1px)) {
    height: calc-fluid-element(
      258,
      320,
      $media-desktop-small,
      $media-desktop-large
    );
  }

  @media screen and (max-width: calc($media-desktop-small - 1px)) {
    height: calc-fluid-element(
      180,
      258,
      $media-tablet-small,
      $media-desktop-small
    );
  }

  @media screen and (max-width: calc($media-tablet-small - 1px)) {
    height: 180px;
  }

  &--fullPageArticle {
    height: 320px;
  }

  &--media {
    height: 420px;

    @media screen and (max-width: calc($media-desktop-large - 1px)) {
      height: calc-fluid-element(
        336,
        420,
        $media-desktop-small,
        $media-desktop-large
      );
    }

    @media screen and (max-width: calc($media-desktop-small - 1px)) {
      height: calc-fluid-element(
        180,
        336,
        $media-tablet-small,
        $media-desktop-small
      );
    }

    @media screen and (max-width: calc($media-tablet-small - 1px)) {
      height: 180px;
    }

    > img {
      @media screen and (max-width: $media-tablet-large) {
        object-position: top;
      }
    }
  }

  &--news {
    height: 292px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.favoriteButton {
  position: absolute;
  top: 12px;
  right: 12px;

  &--news {
    display: none;
  }
}

.content {
  &--news {
    display: flex;
    flex-direction: column;
  }
}

.description {
  justify-content: space-between;
  min-height: 208px;
  margin-top: 12px;

  @media screen and (max-width: calc($media-desktop-medium - 1px)) {
    min-height: 225px;
  }

  @media screen and (max-width: $media-tablet-large) {
    min-height: 150px;
    margin-top: 10px;
  }

  &--fullPageArticle {
    min-height: 208px;
  }

  &--media {
    min-height: 158px;

    @media screen and (max-width: calc($media-desktop-medium - 1px)) {
      min-height: 182px;
    }

    @media screen and (max-width: $media-tablet-large) {
      min-height: 144px;
      margin-top: 8px;
    }

    @media screen and (max-width: calc($media-tablet-small-extra - 1px)) {
      min-height: 170px;
    }
  }

  &--news {
    min-height: 243px;
    margin-top: 32px;
  }
}

.heading {
  display: -webkit-box;
  max-height: 64px;
  @extend %heading-size-small;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media screen and (max-width: calc($media-desktop-small - 1px)) {
    font-size: calc-fluid-element(
      calc($font-size-text-medium * 10),
      calc($font-size-heading-3 * 10),
      $media-tablet-small,
      $media-desktop-small
    );
  }

  @media screen and (max-width: calc($media-tablet-small - 1px)) {
    font-size: $font-size-text-medium;
  }
}

.text {
  display: -webkit-box; // TODO: Если последнее слово в параграфе имеет точку, то получается многоточие из 4 точек. Также замечен баг, когда многоточие начинается после пустого пробела
  height: 96px;
  margin-top: 8px;
  @extend %text-description;
  line-height: 2.4rem;
  color: $color-neutral-700;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media screen and (max-width: calc($media-desktop-small - 1px)) {
    font-size: calc-fluid-element(
      calc($font-size-text-small * 10),
      calc($font-size-description * 10),
      $media-tablet-small,
      $media-desktop-small
    );
  }

  @media screen and (max-width: $media-tablet-large) {
    height: 64px;
    margin-top: 12px;
    line-height: 1.6rem;
  }

  @media screen and (max-width: calc($media-tablet-small - 1px)) {
    font-size: $font-size-text-small;
  }

  &--media {
    height: 70px;
    -webkit-line-clamp: 3;

    @media screen and (max-width: calc($media-desktop-medium - 1px)) {
      height: 96px;
      -webkit-line-clamp: 4;
    }

    @media screen and (max-width: $media-tablet-large) {
      height: 64px;
    }
  }

  &--news {
    margin-top: 16px;
  }
}

.date {
  @extend %text-size-small;
  color: $color-neutral-500;
}

.info,
.infoItem,
.views {
  display: flex;
  align-items: center;
}

.info {
  column-gap: 32px;
  @extend %text-size-small-light;
  font-weight: 300;
  color: $color-neutral-700;

  @media screen and (max-width: calc($media-desktop-small - 1px)) {
    font-size: calc-fluid-element(
      calc($font-size-text-small-extra * 10),
      calc($font-size-text-small * 10),
      $media-tablet-small,
      $media-desktop-small
    );
  }

  @media screen and (max-width: calc($media-tablet-small - 1px)) {
    font-size: $font-size-text-small-extra;
  }
}

.infoItem:not(:first-child) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -20px;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $color-neutral-700;
  }
}

.author {
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (max-width: calc($media-tablet-small - 1px)) {
    max-width: calc-fluid-element(
      83px,
      106px,
      $media-tablet-small-extra,
      $media-tablet-small
    );
  }

  @media screen and (max-width: calc($media-tablet-small-extra - 1px)) {
    max-width: 220px;
  }

  &--media,
  &--news,
  &--fullPageArticle {
    max-width: 220px;
  }
}

.views {
  column-gap: 10px;
}
