@import 'assets/styles/abstracts/variables/colors';

.billet {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: $color-neutral-0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 47px;
  max-width: 335px;
  margin: 0 auto;
  padding: 8px 0 60px;
}

.handle {
  display: inline-block;
  width: 60px;
  height: 5px;
  border-radius: 100px;
  background-color: $color-neutral-400;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  button {
    padding-right: 83px;
    padding-left: 83px;
  }
}
