@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/placeholders';

.userProfile {
  &_form {
    margin-top: 20px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgba(189, 189, 189, 0.36);
  }

  &_title {
    @extend %heading-size-small;
  }

  &_inputs {
    margin: 32px 0 27px;

    > div {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }

  &_button {
    width: 100%;
  }

  &_nav {
    padding: 0;
  }
}
