@import '../../assets/styles/index.scss';

.articles {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0;

  &__header {
    @extend %heading-size-medium;
    color: $color-neutral-900;
    padding: 0;
    margin-bottom: 32px;
  }

  &__containter {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}
