@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.password {
  position: relative;

  span:first-child {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.navigation {
  justify-self: center;
  margin-top: 29px;
  font-weight: 700;
  color: $color-neutral-700;
  letter-spacing: $font-letter-spacing-main;
}
