@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/wrappers';
@import 'assets/styles/abstracts/placeholders';

.wrapper {
  max-width: $wrapper-main-content-desktop;
  margin: 0 auto;
  padding: 40px 0;
}

.heading {
  max-width: 40%;
  margin: 64px 0 48px;
  @extend %heading-size-medium;
}

.articles {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.33em;

  a {
    grid-column: span 2;
  }
}

.article {
  &:first-child {
    grid-column: 1 / 6;
  }

  &:nth-child(2) {
    grid-column: 6 / 10;
  }

  &:nth-child(3) {
    grid-column: 10 / 13;
  }

  &:nth-child(4) {
    grid-column: 1 / 5;
  }

  &:nth-child(5) {
    grid-column: 5 / 8;
  }

  &:nth-child(6) {
    grid-column: 8 / 11;
  }
}

.text {
  @extend %text-size-large;
  font-weight: 700;
  color: $color-neutral-500;
}

.empty {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
