@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/variables/wrappers';
@import 'assets/styles/abstracts/placeholders';
@import 'assets/styles/abstracts/variables/animations';

.userProfile {
  max-width: $wrapper-articles-preview-desktop;

  &_wrapper {
    max-width: $wrapper-profile-desktop;

    &_password {
      max-width: $wrapper-profile-password-desktop;
    }
  }

  &_general {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    > button {
      width: max-content;
    }
  }

  &_status {
    display: inline-flex;
    align-items: center;
    column-gap: 32px;
    @extend %text-size-large;

    &_heading {
      font-weight: 400;
      color: $color-neutral-500;
    }
  }

  &_role {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
  }

  &_title {
    @extend %heading-size-medium;
    margin-bottom: 32px;
  }

  &_subtitle {
    @extend %heading-size-small;
  }

  &_quote {
    @extend %text-size-small;
    color: $color-neutral-600;
  }

  &_box {
    margin-top: 38px;
  }

  &_button_password {
    padding: 0;
  }

  &_doubleCheck {
    position: relative;
    display: inline-flex;

    > svg:last-child {
      position: absolute;
      left: 5px;
    }
  }
}

.email {
  color: $color-brand-primary-900;
  transition: $transition-button;
  transition-property: color;

  &:hover {
    color: $color-brand-primary-700;
  }

  &:active {
    color: $color-brand-primary-1000;
  }
}
