@import '../../assets/styles/index.scss';

.subscribe {
  display: flex;
  max-width: $wrapper-main-content-desktop;
  margin: 40px auto 80px auto;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid var(--stroke, rgba(189, 189, 189, 0.36));
  border-radius: 16px;

  @media screen and (max-width: calc($media-desktop-large - 1px)) {
    margin-left: 48px;
    margin-right: 48px;
  }

  @media screen and (max-width: calc($media-desktop-medium - 1px)) {
    margin-top: 28px;
  }

  &__content {
    max-width: 1252px;
    margin: 60px 0 60px 60px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: calc($media-desktop-main-page-subscribe-block - 1px)) {
      margin: 50px 0 50px 56px;
    }

    @media screen and (max-width: calc($media-desktop-medium - 1px)) {
      max-width: 869px;
    }
  }

  &__header {
    @extend %heading-size-medium;
  }

  &__list {
    margin: 74px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 60px;

    @media screen and (max-width: calc($media-desktop-main-page-subscribe-block - 1px)) {
      margin: 54px 0;
      gap: 12px 56px;
    }
  }

  &__item {
    max-width: 250px;
    margin-left: 42px;
    position: relative;
    @extend %text-size-medium;
    color: $color-neutral-900;

    &:nth-child(1) {
      max-width: 194px;
    }

    &:nth-child(4) {
      max-width: 210px;
    }

    @media screen and (max-width: calc($media-desktop-medium - 1px)) {
      &:nth-child(2) {
        order: 2;
      }
      &:nth-child(3) {
        margin-left: 98px;
      }
      &:nth-child(4) {
        order: 2;
      }
    }
  }

  &__item::before {
    margin: 15px 24px 15px 0;
    content: '';
    background-color: $color-brand-secondary-700;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -42px;
    top: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: calc($media-desktop-medium - 1px)) {
      gap: 16px;
    }
  }

  &__button > span {
    @extend %text-size-medium;
    justify-content: center;
    margin: 0 auto;
  }

  &__caption {
    @extend %text-size-medium;
    color: $color-neutral-500;

    @media screen and (max-width: calc($media-desktop-medium - 1px)) {
      font-size: $font-size-text-small;
      line-height: $font-line-height-text-small;
    }
  }

  &__ellipse {
    flex-shrink: 0;
    width: 424px;
    height: 424px;
    background-color: $color-brand-secondary-700;
    border-radius: 424px;
    margin-right: -246px;
  }
}
