@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/placeholders';
@import 'assets/styles/abstracts/variables/wrappers.scss';

.wrapper {
  display: grid;
  grid-template-columns: 3fr 9fr;
  column-gap: 8px;
  max-width: $wrapper-main-content-desktop;
  margin: 0 auto;
  padding: 32px 0 245px;

  &--favorites {
    padding-bottom: 80px;
  }

  &--publication {
    padding-bottom: 55px;
  }
}
