@import '../../assets/styles/index.scss';

.news {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0;

  &__header {
    @extend %heading-size-medium;
    color: $color-neutral-900;
    padding: 0;
    margin-bottom: 32px;
  }

  &__containter {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
