@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/placeholders';

.article {
  display: grid;
  max-width: 282px;
  padding: 32px 12px 12px 32px;
  box-sizing: border-box;
  color: $color-neutral-0;
  background: linear-gradient(
    180deg,
    $color-brand-primary-700 0%,
    $color-brand-primary-700 0.01%,
    $color-brand-primary-600 100%
  );
  border-radius: 16px;
  cursor: pointer;

  svg {
    justify-self: flex-end;
    align-self: flex-end;
  }
}

.heading {
  width: 78%;
  @extend %text-size-large-extra-semibold;
}
