@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/placeholders';
@import 'assets/styles/abstracts/variables/wrappers.scss';

.wrapper {
  max-width: $wrapper-main-content-desktop;
  padding-left: 202px;
  margin: 40px auto 148px;
}

.about {
  &--title {
    @extend %heading-size-medium;
    margin-bottom: 48px;
  }

  &--paragraphs {
    max-width: 1054px;
    display: grid;
    gap: 40px;
    margin-bottom: 80px;

    &--title {
      @extend %heading-size-small;
      margin-bottom: 16px;
    }

    &--text {
      @extend %text-size-large;
    }
  }

  &--team {
    &--title {
      @extend %heading-size-small;
      margin-bottom: 32px;
    }

    &--creators {
      display: grid;
      grid-template-columns: repeat(4, max-content);
      gap: 64px;

      &--designers {
        margin-top: 4px;
        grid-area: 2 / 1 / 3 / 2;
      }

      &--other {
        grid-row: 1 / 3;
      }

      &--department {
        @extend %text-size-large;
        margin-bottom: 24px;
      }
    }
  }
}

.creatorCard {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &--image {
    width: 80px;
    height: 80px;
    margin-right: 12px;
  }

  &--info {
    display: flex;
    flex-direction: column;

    &--name {
      @extend %text-size-medium-semibold;
      color: $color-neutral-900;
      margin-bottom: 8px;
    }

    &--contacts {
      @extend %text-size-medium;
      color: $color-brand-primary-700;
    }
  }
}
