@import 'assets/styles/index.scss';

.menu {
  box-sizing: border-box;
  color: $color-neutral-900;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    column-gap: 40px;
    white-space: nowrap;
  }

  &__item {
    @extend %text-size-large-bold;
    color: $color-neutral-0;
    padding: 12px 24px;
    text-align: center;
    border: none;
    box-sizing: border-box;
    transition: $transition-hover;

    &_active {
      padding: 12px 24px 10px 24px;
      border-bottom: 2px solid $color-neutral-0;
    }

    &:hover {
      cursor: pointer;
      padding: 12px 24px 10px 24px;
      border-bottom: 2px solid $color-neutral-0;
    }
  }
}
