@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/variables/wrappers';
@import 'assets/styles/abstracts/placeholders';

.search {
  max-width: $wrapper-search-preview-desktop;
  margin: 0 auto;
  padding: 32px 0 80px 0;
}

.wrapper {
  max-width: $wrapper-search-desktop;
}

.title {
  @extend %text-size-large;

  &_heading {
    color: $color-brand-primary-1000;
    font-weight: 700;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
}

.materials {
  display: grid;
  row-gap: 40px;
  padding: 56px 0 80px 0;
}

.button {
  align-self: center;
}

.description {
  @extend %text-size-medium;
  padding: 156px 0;
}

.top_button {
  position: fixed;
  bottom: 372px;
  left: calc(50vw - 40px + 865px);
}
