@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/variables/wrappers';
@import 'assets/styles/abstracts/placeholders';
@import 'assets/styles/abstracts/variables/media-queries';
@import 'assets/styles/abstracts/variables/indents';
@import 'assets/styles/abstracts/functions.scss';

.search {
  display: grid;
  grid-template-columns: 1fr $wrapper-search-preview-desktop 1fr;
  padding-top: 32px;

  > :first-child {
    grid-column: 2/3;
  }

  @media screen and (max-width: calc($media-desktop-medium - 1px)) {
    grid-template-columns: 1fr;
    margin: 0
      calc-fluid-element(
        $indent-section-sides-desktop,
        356px,
        $media-desktop-small,
        $media-desktop-large
      );
    padding-top: calc($indent-section-top-side-desktop-small / 2);

    > :first-child {
      grid-column: 1;
    }

    > button {
      position: sticky;
      bottom: 16px;
      justify-self: flex-end;
    }
  }

  @media screen and (max-width: calc($media-desktop-small - 1px)) {
    margin: 0 $indent-section-sides-desktop;
  }

  @media screen and (max-width: $media-tablet-large) {
    margin: $indent-search-top-tablet $indent-section-sides-tablet 0;
    padding-top: $indent-section-top-side-tablet;
  }

  @media screen and (max-width: calc($media-tablet-small-extra - 1px)) {
    margin: $indent-search-top-mobile $indent-section-sides-mobile 0;
    padding-top: $indent-section-top-side-tablet-medium;
  }
}

.wrapper {
  max-width: $wrapper-search-desktop;
  padding-bottom: 80px;

  @media screen and (max-width: calc($media-desktop-medium - 1px)) {
    padding-bottom: 0;
  }
}

.title {
  @extend %text-size-large;

  &_heading {
    color: $color-brand-primary-1000;
    font-weight: 700;
  }

  @media screen and (max-width: calc($media-desktop-small - 1px)) {
    font-size: calc-fluid-element(
      calc($font-size-text-medium * 10),
      calc($font-size-text-large * 10),
      $media-tablet-small,
      $media-desktop-small
    );
    line-height: calc-fluid-element(
      calc($font-line-height-text-medium * $font-size-text-medium / 10),
      calc($font-line-height-text-large * $font-size-text-large / 10),
      $media-tablet-small,
      $media-desktop-small
    );
    letter-spacing: $font-letter-spacing-main;
  }

  @media screen and (max-width: calc($media-tablet-small-extra - 1px)) {
    font-size: $font-size-text-medium-additional;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
}

.materials {
  display: grid;
  row-gap: 40px;
  padding: 48px 0 40px 0;

  @media screen and (max-width: $media-tablet-large) {
    padding-top: $indent-section-top-side-tablet-medium;
    padding-bottom: 56px;
  }

  @media screen and (max-width: calc($media-tablet-small-extra - 1px)) {
    padding: 24px 0;
    row-gap: calc-fluid-element(
      24px,
      40px,
      $media-mobile-small,
      $media-tablet-small-extra
    );

    > article > a > div {
      flex-direction: column;
      height: auto;
      row-gap: 16px;

      > img {
        max-width: inherit;
        height: calc-fluid-element(
          148px,
          273px,
          $media-mobile-small,
          $media-tablet-small-extra
        );
      }
    }
  }
}

.button {
  align-self: center;

  @media screen and (max-width: $media-tablet-large) {
    width: 335px;
  }

  @media screen and (max-width: calc($media-mobile-small)) {
    width: 100%;
  }
}

.description {
  @extend %text-size-medium;
  color: $color-neutral-600;

  padding: 156px 0 104px;

  @media screen and (max-width: calc($media-desktop-medium - 1px)) {
    padding: 64px 0 80px;
  }

  @media screen and (max-width: $media-tablet-large) {
    padding: 32px 0 40px;
  }
}

.topButton {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: calc(100vh - 16px);

  & > button {
    position: absolute;
    right: 38px;

    @media screen and (min-width: $media-desktop-large) {
      left: 234px;
    }
  }
}
