@import '../../../assets/styles/index.scss';

.profile {
  width: 24px;
  border: none;
  background: none;
  fill: $color-brand-primary-900;
  transition: all 0.5 ease-out;

  &:hover {
    fill: $color-brand-primary-700;
    cursor: pointer;
  }
}
