@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/variables/media-queries';
@import 'assets/styles/abstracts/variables/wrappers';
@import 'assets/styles/abstracts/variables/z-index';
@import 'assets/styles/abstracts/variables/indents';
@import 'assets/styles/abstracts/variables/animations';
@import 'assets/styles/abstracts/placeholders';
@import 'assets/styles/abstracts/functions';

$indent-tablet: calc-fluid-element(
  $indent-section-sides-tablet,
  $indent-section-sides-desktop,
  $media-tablet-small,
  $media-desktop-small
);

.header {
  position: relative;
  max-width: $wrapper-main-content-desktop;
  margin: $indent-section-top-side-tablet auto;
  border-radius: 16px;
  background-color: $color-brand-primary-900;

  @media screen and (max-width: calc($media-desktop-large - 1px)) {
    margin-right: $indent-section-sides-desktop;
    margin-left: $indent-section-sides-desktop;
  }

  @media screen and (max-width: calc($media-desktop-medium - 1px)) {
    margin-bottom: calc($indent-section-top-side-desktop-small / 2);
  }

  @media screen and (max-width: calc($media-desktop-small - 1px)) {
    $indent-tablet: calc-fluid-element(
      $indent-section-sides-tablet,
      $indent-section-sides-desktop,
      $media-tablet-small,
      $media-desktop-small
    );

    margin-right: $indent-tablet;
    margin-left: $indent-tablet;
  }

  @media screen and (max-width: $media-tablet-large) {
    position: sticky;
    top: 0;
    z-index: $zindex-header;
    margin: 0 0 calc($indent-section-top-side-tablet / 2);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__outerWrapper {
    padding: 30px 48px;
    box-sizing: border-box;

    transition: $transition-button;

    @media screen and (max-width: calc($media-desktop-medium - 1px)) {
      padding: 33px 32px;
    }

    @media screen and (max-width: $media-tablet-large) {
      padding: 20px $indent-tablet;
    }

    @media screen and (max-width: calc($media-tablet-small - 1px)) {
      $indent-mobile: calc-fluid-element(
        $indent-section-sides-mobile,
        $indent-section-sides-tablet,
        $media-mobile-small,
        $media-tablet-small
      );

      padding-right: $indent-mobile;
      padding-left: $indent-mobile;
    }

    &_active {
      min-height: 100vh !important;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    width: 34.7%;

    @media screen and (max-width: calc($media-desktop-medium - 1px)) {
      width: 26.78%;
      gap: 16px;
    }

    @media screen and (max-width: $media-tablet-large) {
      width: auto;
    }

    form {
      width: 85.33%;
    }
  }

  &__profile {
    display: flex;
    margin: 0 8px;
    border-radius: 50%;
    background: transparent;
    fill: $color-neutral-0;
    cursor: pointer;
    transition: $transition-button;

    @media screen and (max-width: $media-tablet-large) {
      margin: 0;

      > svg {
        width: 24px;
        height: 24px;
      }
    }

    &_auth {
      margin: 0;
    }
  }
}

.tooltip {
  width: 395px;
  height: 188px;
  position: absolute;
  top: 116px;
  right: 48px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms, visibility 300ms ease-out;

  &--open {
    visibility: visible;
    opacity: 1;
  }
}
