@import 'assets/styles/index.scss';

.header {
  max-width: $wrapper-main-content-desktop;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 83px;
  height: 168px;
  margin: 32px auto 0;
  padding: 42px 48px;
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
  background-color: $color-brand-primary-900;

  &__search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    justify-self: end;
  }

  &__profile {
    width: 48px;
    height: 48px;
    background: none;
    fill: $color-neutral-0;
    transition: $transition-button;

    &:hover svg {
      width: 48px;
      height: 48px;
      fill: $color-brand-primary-500;
      cursor: pointer;
    }
  }
}

.tooltip {
  width: 395px;
  height: 188px;
  position: absolute;
  top: 104px;
  right: -12px;
}
