@import 'assets/styles/index.scss';

.header {
  max-width: $wrapper-main-content-desktop;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 168px;
  margin: 32px auto 64px;
  padding: 42px 48px;
  padding-right: 56px;
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
  background-color: $color-brand-primary-900;

  &__search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
    justify-self: end;
  }

  &__profile {
    margin: 0 8px;
    background: none;
    fill: $color-neutral-0;
    transition: $transition-button;
  }

  &__logotext {
    @extend %text-size-small;
    color: $color-neutral-0;
    font-weight: 600;
    margin-top: 4px;
  }
}

.tooltip {
  width: 395px;
  height: 188px;
  position: absolute;
  top: 116px;
  right: 48px;
}
