@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/placeholders';

.content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 24px;
}

.instruction {
  @extend %text-size-large;
  color: $color-neutral-500;
}

.buttonBack {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
