@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/placeholders';

.content,
.iconWrapper {
  display: flex;
  flex-direction: column;
}

.content {
  row-gap: 12px;
  margin-bottom: 24px;
}

.instruction {
  @extend %text-size-large;
  color: $color-neutral-500;
}

.iconWrapper {
  align-items: center;
  margin: 28px 0 16px;
  min-height: 235px;

  div {
    margin-right: 8%;
  }
}

.buttonBack {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
