@import 'assets/styles/abstracts/variables/colors';

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper > div > div {
  overflow: visible !important;
}

.carousel {
  padding-left: 64px;
}

.next_button {
  position: absolute;
  right: -64px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;

  svg {
    fill: $color-brand-primary-900;
  }

  &_disabled {
    svg {
      fill: $color-neutral-400;
    }
  }
}

.prev_button {
  position: absolute;
  left: -64px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;

  svg {
    fill: $color-brand-primary-900;
  }

  &_disabled {
    svg {
      fill: $color-neutral-400;
    }
  }
}

.container_main {
  display: flex;
  justify-content: space-between;
  width: 1570px;
}

.container_articles {
  display: flex;
  width: 1350px;
  gap: 5px;
}
