@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/variables/wrappers';
@import 'assets/styles/abstracts/placeholders';

.wrapper {
  max-width: $wrapper-main-content-desktop;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.wrapper > div > div {
  overflow: visible !important;
}

.carousel {
  padding-left: 64px;
}

.prev_button {
  position: absolute;
  right: -64px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;

  svg {
    fill: #014cff;
  }
}

.next_button {
  position: absolute;
  left: -64px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;

  svg {
    fill: #014cff;
  }
}
