@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/variables/wrappers';
@import 'assets/styles/abstracts/variables/animations';
@import 'assets/styles/abstracts/placeholders';

.wrapper,
.warning,
.contacts,
.logoLink {
  display: flex;
  flex-direction: column;
}

.wrapper {
  row-gap: 56px;
  max-width: $wrapper-main-content-desktop;
  margin: 0 auto;
  padding: 57px 0 48px;
  white-space: pre-wrap;
}

.warning {
  row-gap: 12px;
  max-width: 70%;
  padding-bottom: 34px;
  letter-spacing: $font-letter-spacing-main;
  color: $color-neutral-700;
}

.heading {
  @extend %text-size-medium-semibold;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: 15.57% 32.46% 15.7%;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  margin-top: 9px;

  a div img {
    width: 284px;
    height: 60px;
  }
}

.links {
  display: grid;
  grid-template-columns: 47.64% 46.11%;
  justify-content: space-between;
}

.logoLink,
.link {
  color: inherit;
}

.logoLink {
  row-gap: 1px;
  letter-spacing: $font-letter-spacing-main;
}

.logoName {
  @extend %text-size-small;
  font-weight: 600;
}

.link {
  letter-spacing: $font-letter-spacing-main;
  color: $color-brand-primary-900;
  transition: $transition-button;
  transition-property: color;

  &:hover {
    color: $color-brand-primary-700;
  }

  &:active {
    color: $color-brand-primary-1000;
  }
}

.footerLinkItem {
  width: max-content;
  height: max-content;
}

.contacts {
  align-items: flex-end;
  row-gap: 8px;
  letter-spacing: $font-letter-spacing-main;
}

.copyright {
  color: $color-neutral-600;
}

.email {
  color: $color-brand-primary-900;
  transition: $transition-button;
  transition-property: color;

  &:hover {
    color: $color-brand-primary-700;
  }

  &:active {
    color: $color-brand-primary-1000;
  }
}
