@import 'assets/styles/index.scss';

.podcasts {
  max-width: $wrapper-main-content-desktop;
  margin: 40px auto;
  padding: 0;

  &__header {
    @extend %heading-size-large;
    padding: 0;
    margin-bottom: 48px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
  }

  &__links {
    display: flex;
    gap: 24px;
  }
}
