.button {
  width: 80px;
  height: 80px;

  svg {
    width: 25px;
    height: 25px;
  }

  &:hover {
    svg {
      stroke: inherit;
    }
  }

  &:active {
    svg {
      stroke: inherit;
    }
  }
}
