.content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 24px;

  &--response {
    align-items: center;
    margin-bottom: 58px;

    + button {
      margin-bottom: 26px;
    }
  }
}
