@import 'assets/styles/abstracts/variables/colors.scss';
@import 'assets/styles/abstracts/variables/fonts.scss';
@import 'assets/styles/abstracts/placeholders.scss';
@import 'assets/styles/abstracts/variables/animations.scss';

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.button {
  display: inline-block;

  @extend %text-size-medium-semibold;

  border: 1px solid transparent;
  border-radius: 16px;

  transition: $transition-button;

  &:disabled {
    cursor: default;
  }

  &--small {
    padding: 12px 64px;
  }

  &--medium {
    padding: 20px 64px;
  }

  &--hasBorder {
    border-color: $color-brand-primary-900;

    &:active:enabled {
      border-color: $color-brand-primary-1000;
    }

    &:disabled {
      border-color: $color-neutral-400;
    }

    &--loading:disabled {
      border-color: $color-brand-primary-900 !important;
    }
  }

  * {
    transition: $transition-button;
  }
}

.content {
  display: flex;
  align-items: center;
  column-gap: 4.5px;
}

.button--primary {
  color: $color-neutral-0;
  background-color: $color-brand-primary-900;

  svg path {
    stroke: $color-neutral-0;
  }

  &:hover:enabled {
    background-color: $color-brand-primary-700;
  }

  &:active:enabled {
    color: $color-brand-primary-500;

    background-color: $color-brand-primary-1000;
    border-color: $color-brand-primary-1000;

    svg path {
      stroke: $color-brand-primary-500;
    }
  }

  &:disabled {
    color: $color-neutral-0;
    background-color: $color-neutral-400;
  }

  .content > .spinnerWrapper > .spinner {
    box-shadow: 0 -0.45em rgba(255, 255, 255, 1),
      0.31em -0.31em rgba(255, 255, 255, 0.95),
      0.45em 0 rgba(255, 255, 255, 0.9), 0.31em 0.31em rgba(255, 255, 255, 0.85),
      0 0.45em rgba(255, 255, 255, 0.8),
      -0.31em 0.31em rgba(255, 255, 255, 0.75),
      -0.45em 0 rgba(255, 255, 255, 0.7),
      -0.31em -0.31em rgba(255, 255, 255, 0.65);
  }

  &--loading:disabled {
    background-color: $color-brand-primary-1000;
  }
}

.button--secondary {
  color: $color-brand-primary-900;
  background-color: $color-neutral-0;

  svg path {
    stroke: $color-brand-primary-900;
  }

  &:hover:enabled {
    background-color: $color-brand-primary-100;

    svg path {
      stroke: $color-brand-primary-900;
    }
  }

  &:active:enabled {
    color: $color-brand-primary-1000;
    background-color: $color-neutral-0;

    svg path {
      stroke: $color-brand-primary-1000;
    }
  }

  &:disabled {
    color: $color-neutral-400;

    border-color: $color-neutral-400;
    background-color: $color-neutral-0;

    svg path {
      stroke: $color-neutral-400;
    }
  }

  .content > .spinnerWrapper > .spinner {
    box-shadow: 0 -0.45em rgba(1, 76, 255, 1),
      0.31em -0.31em rgba(1, 76, 255, 0.95), 0.45em 0 rgba(1, 76, 255, 0.9),
      0.31em 0.31em rgba(1, 76, 255, 0.85), 0 0.45em rgba(1, 76, 255, 0.8),
      -0.31em 0.31em rgba(1, 76, 255, 0.75), -0.45em 0 rgba(1, 76, 255, 0.7),
      -0.31em -0.31em rgba(1, 76, 255, 0.65);
  }

  &--loading:disabled {
    color: $color-brand-primary-900;

    background-color: $color-neutral-0;
    border-color: $color-neutral-0;
  }
}

.button--tertiary {
  padding: 6px 0;

  color: $color-brand-primary-900;
  background-color: transparent;

  svg path {
    stroke: $color-brand-primary-900;
  }

  &:hover:enabled {
    color: $color-brand-primary-700;

    svg path {
      stroke: $color-brand-primary-700;
    }
  }

  &:active:enabled {
    color: $color-brand-primary-1000;

    svg path {
      stroke: $color-brand-primary-1000;
    }
  }

  &:disabled {
    color: $color-neutral-400;

    svg path {
      stroke: $color-neutral-400;
    }
  }
}

.spinnerWrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.spinner {
  position: absolute;
  top: 41%;
  left: 41%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  animation: spin 1.6s linear infinite;
}
