$indent-default-sides-desktop: 48px;
$indent-default-sides-tablet: 24px;
$indent-default-sides-mobile: 20px;

$indent-default-top-side-desktop-large: 64px;
$indent-default-top-side-desktop-small: 56px;
$indent-default-top-side-tablet: 40px;
$indent-default-top-side-tablet: 32px;
