$media-desktop-large: 1920px;
$media-desktop-medium: 1536px;
$media-desktop-small: 1280px;
$media-tablet-large: 1024px;
$media-tablet-small: 768px;
$media-tablet-small-extra: 600px;
$media-mobile-large: 428px;
$media-mobile-small: 375px;
