$wrapper-main-content-desktop: 1824px;
$wrapper-news-preview-desktop: 1208px;
$wrapper-entry-form-desktop: 640px;
$wrapper-articles-preview-desktop: 1516px;
$wrapper-authors-desktop: 1054px;
$wrapper-response-desktop: 592px;
