@import 'assets/styles/abstracts/variables/colors';
@import 'assets/styles/abstracts/variables/fonts';
@import 'assets/styles/abstracts/variables/animations';
@import 'assets/styles/abstracts/placeholders';

.checkbox:not(:checked),
.checkbox:checked {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox {
  + .label {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    height: 68px;
    padding: 7px 12px;
    box-sizing: border-box;

    @extend %text-size-medium;
    color: $color-neutral-900;

    background-color: $color-neutral-0;

    user-select: none;
    cursor: pointer;

    transition: $transition-button;
    transition-property: background-color, color, stroke;

    &:hover {
      color: $color-brand-primary-900;
      background-color: $color-brand-primary-100;

      svg path {
        stroke: $color-brand-primary-900;
      }
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &:checked {
    + .label {
      color: $color-brand-primary-900;

      background-color: $color-neutral-0;
      border-bottom: 2px solid $color-brand-primary-900;

      svg path {
        stroke: $color-brand-primary-900;
      }
    }
  }
}
